language: python
python:
- '2.7'
sudo: false
env:
  matrix:
  - |-
    ARM_TOOLCHAIN_URL="https://launchpad.net/gcc-arm-embedded/5.0/5-2016-q3-update/+download/gcc-arm-none-eabi-5_4-2016q3-20160926-linux.tar.bz2"
    ESP8266_TOOLCHAIN_URL="http://arduino.esp8266.com/linux64-xtensa-lx106-elf.tar.gz"
    ESP32_TOOLCHAIN_URL="https://dl.espressif.com/dl/xtensa-esp32-elf-linux64-1.22.0-61-gab8375a-5.2.0.tar.gz"
    TOOLCHAIN_DIR="${HOME}/toolchain"
    ESP8266_BINDIR="${TOOLCHAIN_DIR}/xtensa-lx106-elf/bin"
    ESP32_BINDIR="${TOOLCHAIN_DIR}/xtensa-esp32-elf/bin"
    ARM_BINDIR="${TOOLCHAIN_DIR}/gcc-arm-none-eabi/bin"
    PATH="${PATH}:${ARM_BINDIR}:${ESP8266_BINDIR}:${ESP32_BINDIR}"
  global:
  - secure: E5yAtle8UsMwr8yKZq0PHwuhC15RcwhuYNbUr3VbXoNjEX49JR8eENSuVhYPvAHkILVkHTe+1E+bfhly2FmVVPflFol4QVkPzYjsnBgZ3VG5B8zKWso0CONh31kwcmfTmCJBsxM5n2C4XTrlguLHbndnBfDQc9oK4crihzIWVG+eHhOv43C0tNiqvOUGoEv5zKHrt+kaAmAmce31J0fQUTnb4V7GXVrRC0w4DDAFTcSZ0z5Ty2mrKiZOkmKkeXUinTOMCgRft/TshXXTfE9vwBbEVCKXUJv3Wfh55dyfwrMVh3P7YgJdL0caSQnsno0HXNtkTHqi7RSPusjlmKmSgLkCZhzDNEbzZeBAcTIyfXBmOskKiMjuZCuhxCUo7kboQ+7DN9S/mx9rX42xzlzP+U2ZKkbnEYCJm+6H3KTv3z+Wl/mteqpPKLQQmd9OcQSN6d6oyw1vEuKLVXpGau2dEhh7NWESpoRw1tro19SJO8D9905h075unW1maCH6Y42Odv23Q8qMJuLVVVpH7hJrOdGt/ZpkxzIXwxcRxMENwrcSeReRiUnvL8y7A0UcLQAQaqcMtYFaZtt6OH7x/Uax6qJtCo7XU37G1fBs+l4R/SUsMHeqq+LQooUfTIZRuiDtIzdMD2T984Wx+oP+YBuNBs/iJwzbJ4imawE/rsRFofM=
  - secure: Rkli+MoRTkpvyonM1lLgK2LEpSi4/OUUaCMEian3G8H3129v5OtSt9n7QC6LTymW/IvFAq+eXLu+B7zZV/59kWDLjFB4Si5eLGINRZWenYOtKrLkie+yw87FdSnM2hVWzTkNmuodkwiHozXMUeybjBevR22yqN4mJ1fVcAHpBmbTaeiBfTLLw/jTRyFM7eZ26P4gC7gY4Rw6iTWrqmR3DRgcgV2ow0OzwGkicKItDY2K6EHNNgSlqoSlwNsWY0fdZ1CEwf4CpfzJmitXd4WbpVHwb0lf3nlUcFST+xAugJgb0fvTX5zbjslcTqrNWfCu5YlsvKrt2afjWbMp4MFJ11I/JJ3JZwF/mPJ99ycOWKVi922EXYyshA7F08XRblZp+qWG6NKPQXy82QoKv2zXTxVEm28CoAvhfF+V5o3vXxnBxBerCmS02mDa1X+OKPZF+3stO9NTDVLut7XQPxVwXRk4Qr9OlqKMWaiIQWcp9x36SRa8h3pKGoDIDOx9WAPhfi88lqzJJU5RmXJxzfmBRwle5bN2s1eP2Ascb8HdFOWPGqL/uGZVvIKJTbBw8uqdI/H4rlnDETE/1in1quoqX91R2lWqkcOPBNDrBanvitoAacnluiviCb6TotME4FpbkmJlJ3vdxGy2UF6CDUF+Dc2q/bpru0JLMSRveBftqhs=
before_install:
- echo ${aos_key}
- echo ${aos_sec}
install:
- pwd
before_script:
- cd ${TRAVIS_BUILD_DIR}
- echo "export PATH=""${PATH}" >> ~/.bashrc
- echo ${TRAVIS_COMMIT}
- echo ${TRAVIS_PULL_REQUEST}
- echo ${TRAVIS_JOB_NUMBER}
script:
- echo "skip script"
after_success:
- echo "skip after"
